* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1296px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
    border-bottom: solid;
    border-color: rgba(#333, 0.30000001192092896);
}

.contacts {
    color: var(--black, #333);
    font-family: Circe;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    gap: 0px;
    flex-shrink: 0;
    width: 850px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.p {
    color: var(--accent, #EC1B2E);
    font-family: Circe;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.28px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}
.contacts li{
    display: flex;
    align-items: center;
}
.imgloc::before{
    content:url(ci_location.png);
}
.imgphone::before{
    content: url(carbon_phone-filled.png);
}
.imgmail::before{
    content: url(fluent_mail-16-filled.png);
}
.zapis {
    display: flex;
    width: 160px;
    height: 45px;
    padding: 10px 25px;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
    background: #EC1B2E;
    animation-duration: initial;
}

.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.contacts2 {
    color: var(--black, #333);
    font-family: Circe;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 68px;
}

.slider {
    background: url(image.png) lightgray 50% / cover no-repeat;
    height: 700px;
}

.text {
    width: 526px;
    height: 280px;
    color: var(--white, #FFF);
    font-family: Circe;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    position: relative;
    top: 130px;
    left: 175px;
    background: rgba(0, 0, 0, 0.3);
}

.podrob {
    display: inline-flex;
    width: 163px;
    height: 58px;
    padding: 15px 30px;
    align-items: flex-start;
    background: #EC1B2E;
    position: relative;
    top: 175px;
    left: 175px;
    color: var(--white, #FFF);
    /* p/20b */
    font-family: Circe;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 28px */
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.shkola {
    width: 638px;
    height: 405px;
    border: 10px solid var(--accent, #EC1B2E);
}

.shkola2 {
    background: white;
    color: var(--black, #333);
    font-family: Circe;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: 0.48px;
    width: 420px;
    height: 87px;
    position: relative;
    left: 105px;
    bottom: 50px;
    display: inline-flex;
    padding: 10px 30px;
    align-items: flex-start;
    gap: 10px;
}

.textshkola {
    width: 458px;
    height: 243px;
    color: var(--black, #333);
    /* p/18r */
    font-family: Circe;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 25.2px */
    position: relative;
    left: 95px;
}

.image1 {
    display: flex;
    width: 400px;
    height: 400px;
    padding: 26.667px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    opacity: 0.1;
}

.h1 {
    color: var(--black, #333);
    text-align: center;
    font-family: Circe;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: 0.48px;
}

.block {
    margin-top: 100px;
}

.container {
    .study {
        display: flex;
        margin: 80px 280px;
        justify-content: space-around;
        gap: 50px;
    }

    .ucheba {
        background: red;
        color: var(--white, #FFF);
        text-align: center;
        font-family: Circe;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        width: 175px;
        height: 68px;
        display: inline-flex;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .spain {
        display: flex;
        justify-content: space-around;
    }

    .h3-1heading {
        color: var(--accent, #EC1B2E);
        text-align: center;
        font-family: Circe;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        width: 306px;
        height: 68px;
    }

    .h3heading {
        color: var(--black, #333);
        text-align: center;
        font-family: Circe;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        width: 306px;
        height: 68px;
    }
}

.table {
    border-collapse: collapse;
    caption-side: bottom;
    margin: 0 auto;
}

table tr {
    border-bottom: 1px solid rgba(3, 3, 3, 0.2);
}

.table th {
    background-color: rgba(51, 51, 51, 0.05);
    text-align: left;
    padding: 10px 60px 10px 20px;
}

.table tr th:nth-child(1) {
    width: 180px;
    height: 48px;
}

.table tr th:nth-child(2) {
    width: 300px;
    height: 48px;
}

.table tr th:nth-child(3) {
    width: 596px;
    height: 48px;
    padding-top: 10px;
}

.table tr td:nth-child(1) {
    width: 180px;
    height: 48px;
    padding-bottom: 90px;
}

.table tr td:nth-child(2) {
    width: 300px;
    height: 48px;
    padding-bottom: 45px;
}

.table tr td:nth-child(3) {
    width: 596px;
    height: 48px;
    padding-bottom: 35px;
}

tr td p span {
    text-align: center;
    width: 84px;
    height: 33px;
    background-color: #EC1B2E;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 7px 3px 7px;
    margin-right: 5px;
}

.examimg {
    display: flex;
    justify-content: space-around;
}

.examitems {
    width: 306px;
    height: 585px;
    display: inline-block;
}

.headingh2 {
    color: var(--black, #333);
    text-align: center;
    /* heading/h2 */
    font-family: Circe;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    /* 67.2px */
    letter-spacing: 0.48px;
    margin-bottom: 100px;
}

.h3-exam {
    width: 268px;
    height: 68px;
}

.headingh3 {
    color: var(--black, #333);
    /* heading/h3 */
    font-family: Circe;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 33.6px */
    margin-top: 25px;
}

.ul4 {
    color: var(--black, #333);
    font-family: Circe;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
    list-style-type: disc;
    padding-top: 25px;
    width: 255px;
    margin: 0 auto;
}

.ul4 li {
    margin-bottom: 15px;
}

.div_btn {
    text-align: center;
    margin-top: 35px;
}

.btn2 {
    width: 163px;
    height: 58px;
    background: #EC1B2E;
    display: inline-flex;
    padding: 15px 30px;
    align-items: center;
    gap: 10px;
}

.textbtn {
    color: var(--white, #FFF);
    /* p/20b */
    font-family: Circe;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 28px */
}

.event {
    display: flex;
    justify-content: space-around;
}

.eventitems {
    width: 416px;
    height: 539px;
}

.textp {
    color: var(--black, #333);
    /* p/16r */
    font-family: Circe;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
    width: 356px;
    height: 90px;
    margin: 0 auto;
    margin-top: 20px;
}

.textp2 {
    color: var(--black, #333);
    /* p/16r */
    font-family: Circe;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
    width: 306px;
    height: 132px;
    margin-top: 45px;
}

.newsitems {
    width: 310px;
    height: 352px;
}
.fon{
    background: rgba(0, 0, 0, 0.1);
    height: 588px;
    margin-top: 170px;
}
.footer {
    display: flex;
    justify-content:space-between;
}

.footer2 {
    width: 212px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 10px;
}

.p2 {
    color: var(--black, #333);
    /* other / 14b--ttu-2ls */
    font-family: Circe;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 0.28px;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 225px;
}

.ul5 {
    color: var(--black, #333);
    font-family: Circe;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.footer ul li {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img2 {
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 5px;
}

.h4 {
    color: var(--black, #333);
    /* other / 14b--ttu-2ls */
    font-family: Circe;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 0.28px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
}

.p3 {
    color: var(--black, #333);
    /* p/14r */
    font-family: Circe;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
    padding-bottom: 20px;
}

hr {
    width: 1296px;
    height: 3px;
    background: #333;
    opacity: 0.3;
}
.p_footer{
color: var(--black, #333);
/* p/14r */
font-family: Circe;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
opacity: 0.5;
margin: 20px 0 20px 0;
}