body>div>ul>li:nth-child(1)>a{
    color:red
}
body>div>ul>li:nth-child(2)>span>a{
    color: green;
}
body>div>ul>li:nth-child(3)>em>a{
color: blue;
}
div>p>em:nth-child(1)>a{
    color: yellow;
}
div>span>em:nth-child(1)>a{
    color: black;
}
body>ul>li:nth-child(1)>a{
    color: orange;
}
body>ul>li>span>a{
    color: pink;
}
body>ul>li>em>a{
    color: violet
}
body>ul>li:nth-child(2)>p>em>a{
    color: aqua;
}
body>ul>li:nth-child(3)>div>ul>li:nth-child(1)>a{
    color: indigo;
}
body>ul>li:nth-child(3)>div>ul>li:nth-child(2)>em>a{
    color: chocolate;
}
body>ul>li:nth-child(3)>div>ul>li:nth-child(3)>span>a{
    color: brown;
}
body>ul>li:nth-child(3)>div>p>a{
    color:gold
}
body>p>em>a{
    color: gray;
}