* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerfon {
  height: 100px;
  background: #172027;
}

.container {
  width: 1150px;
  margin: 0 auto;
}
.container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.container .headerimg {
  width: 203px;
  height: 40px;
  flex-shrink: 0;
}
.container .ul1 {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}
.container .imgtel::before {
  content: url(../Maket/Images/telegram.png);
}
.container .imgwhat::before {
  content: url(/Maket/Images/whatsapp\ \(1\).png);
}
.container .imgviber::before {
  content: url(/Maket/Images/viber.png);
}
.container .imgcall::before {
  content: url(/Maket/Images/call\ 1.png);
}
.container .ul1 li {
  color: var(--text-2, #FFF);
  text-align: center;
  font-family: Museo Sans Cyrl 700;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 20px;
}
.container .btn {
  width: 180px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 43px;
  background: var(--gradient, linear-gradient(360deg, #077A34 0%, #19E270 100%));
  box-shadow: 0px 9px 48px 0px rgba(24, 220, 109, 0.15);
}
.container .p1 {
  color: var(--text-2, #FFF);
  text-align: center;
  font-family: Museo Sans Cyrl 700;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menufon {
  background: #f2f2f3;
  height: 47px;
}

.container .wrapper {
  height: 47px;
  line-height: 47px;
}
.container .ul2 {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.container .content4 {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.container .h1content4 {
  margin-top: 100px;
}
.container .img1content4 {
  border-radius: 10px;
  background: url(Images/2022-Chevrolet-Bolt.png) lightgray -28.488px -0.095px/117.935% 112.5% no-repeat;
  box-shadow: 0px 5px 48px 0px rgba(49, 47, 47, 0.1);
  width: 561px;
  height: 331px;
}
.container .textcontent4 {
  width: 455px;
  height: 100px;
}
.container .h2content4 {
  color: var(--text, #0F0F10);
  font-family: Museo Sans Cyrl 700;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.5%;
}
.container .p1content4 {
  color: var(--text, #0F0F10);
  font-family: Museo Sans Cyrl 300;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .textcontent4 p {
  padding: 16px 0 16px 0;
}
.container .btncontent4 {
  width: 263px;
  height: 52px;
  border-radius: 43px;
  background: var(--gradient, linear-gradient(360deg, #077A34 0%, #19E270 100%));
  box-shadow: 0px 9px 48px 0px rgba(24, 220, 109, 0.15);
}
.container .p2content4 {
  color: var(--text-2, #FFF);
  text-align: center;
  font-family: Museo Sans Cyrl 700;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .menu4 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.container .img2content4 {
  width: 561px;
  height: 332px;
  border-radius: 10px;
  background: url(Images/img2content4.png) lightgray 0px -22.385px/100% 111.756% no-repeat;
  box-shadow: 0px 5px 48px 0px rgba(49, 47, 47, 0.1);
}
.container .menu4 .textcontent4 p {
  padding: 26px 0 26px 0;
}
.container .menu4 h2 {
  margin-top: 50px;
}

.container .banner4 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.container .img3content4 {
  width: 561px;
  height: 332px;
  border-radius: 10px;
  background: url(Images/Ford_Mustang_Mach-E_GT\ 1.png) lightgray -15.422px 0px/104.739% 103.226% no-repeat;
  box-shadow: 0px 5px 48px 0px rgba(49, 47, 47, 0.1);
}
.container .banner4 p {
  padding: 20px 0 33px 0;
}
.container .banner4 h2 {
  margin-top: 40px;
}

.container .wrapper4 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.container .img4content4 {
  width: 561px;
  height: 332px;
  border-radius: 10px;
  background: url(Images/renault-zoe-2019\ 1.png) lightgray 0px -22.385px/100% 111.756% no-repeat;
  box-shadow: 0px 5px 48px 0px rgba(49, 47, 47, 0.1);
}
.container .wrapper4 p {
  padding: 26px 0 26px 0;
}
.container .wrapper4 h2 {
  margin-top: 50px;
}

.container .teslaaccount4 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.container .img5content4 {
  width: 561px;
  height: 332px;
  border-radius: 10px;
  background: url(Images/teslaaccount.png) lightgray 0px -22.385px/100% 111.756% no-repeat;
  box-shadow: 0px 5px 48px 0px rgba(49, 47, 47, 0.1);
}
.container .teslaaccount4 p {
  padding: 20px 0 26px 0;
}
.container .teslaaccount4 h2 {
  margin-top: 27px;
}

.container .icons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 110px 0 100px 0;
  align-items: center;
}
.container .icons img {
  width: 18px;
  height: 17px;
}
.container .icons ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.container .icons ul li {
  width: 73px;
  height: 73px;
  background: #C6C5C5;
  border-radius: 50%;
  position: relative;
  margin: 0 5px 0 5px;
}
.container .icons ul li.iconsli1 {
  background: #0F0F10;
}
.container .iconsli1 p {
  color: var(--text-2, #FFF);
  font-family: Museo Sans Cyrl 700;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.5%;
}
.container .iconsp {
  width: 16px;
  height: 23px;
  position: absolute;
  right: 25px;
  top: 25px;
  color: var(--text, #0F0F10);
  font-family: Museo Sans Cyrl 700;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.5%;
}

.footer {
  height: 331px;
  background: #797C7D;
}

.container .ulfooter {
  padding-top: 100px;
  padding-bottom: 75px;
}
.container .imgfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.container .textfooter {
  margin-top: 15px;
}

.cars:hover {
  transform: scale(1.1);
  transition: 0, 5s;
}

button:hover {
  transform: scale(1.1);
  transition: 0, 5s;
}

.bmw:hover {
  transform: scale(1.1);
  transition: 0, 5s;
}

.ul2 li:hover {
  transform: scale(1.1);
  color: red;
}

.ul1 li:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=maket4.style.css.map */